.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: auto;
    border: 1.5px solid grey;
    box-shadow: 3.8px 5px rgb(56, 55, 55);
    border-radius: 20px;
    background-color: aliceblue;
    max-width: 345px;
    padding: 10px 0px 10px 0px;
}

@font-face {
    font-family: ss;
    src: url(seven_segment/Seven\ Segment.ttf);
}

#screen {
    font-size: 33px;
    text-align: right;
    margin: auto;
    padding-right: 8px;
    height: 4.3rem;
    width: 90%;
    resize: none;
    font-family: ss;
    font-style: bold;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.21);
}

#entries {
    display: flex;
    outline-offset: 4px;
    padding: 16px 0px 0px 0px;
    border-radius: 10%;
    background-color: rgb(232, 237, 241);
}

input[type='button'] {
    width: 80%;
    background-color: rgb(115, 236, 186);
    color: white;
    margin: 4px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 17px 10%;
    border-radius: 20%;
    box-shadow: 3px 3px rgb(86, 212, 160);
}

#clear {
    width: auto;
    border-radius: 20%;
    margin-left: 37.7%;
    max-width: 30%;
}

#brand {
    align-self: flex-start;
    margin: 4% 0 6% 5%;
    width: 30%;
}

span {
    padding-bottom: 16px;
}

.btn:active {
    background-color: rgb(115, 236, 186);
    box-shadow: 2px 2px #666;
    transform: translateY(2px);
}

.btn:hover {
    background-color: #ace4b1;
}